@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    background-color: #b7ffd5;
}